<h2>Welcome {{dC.user.name}}</h2>
<a href="/users/logout">Logout</a>

<table>
  <tr>
    <th>Category</th>
    <th>Topic</th>
    <th>User Name</th>
    <th>Posts</th>
  </tr>
  <tr ng-repeat='topic in dC.topics track by topic._id'>
    <td>{{topic.category}}</td>
    <td><a ng-href="#/topic/{{topic._id}}">{{topic.title}}</a></td>
    <td>{{topic._user.name}}</td>
    <td>{{topic.posts.length}}</td>
  </tr>
</table>
<h3>Add a new topic</h3>
<form ng-submit='dC.create()'>
  <input type="text" name="title" placeholder="title" ng-model='dC.topic.title'>
  <br>
  <textarea name="description" rows="8" cols="40" ng-model='dC.topic.description' placeholder="description"></textarea>
  <br>
  Category: 
  <select name="" ng-model='dC.topic.category'>
    <option value="Ruby">Ruby</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Python">Python</option>
    <option value="C#">C#</option>
    <option value="Random">Random</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
