<h3>{{tC.topic._user.name}} posted a topic: </h3>
<h4>Title: {{tC.topic.title}}</h4>
<p>Description: {{tC.topic.description}}</p>

<form ng-submit='tC.createPost()'>
  <span>Post your answer here:</span>
  <textarea name="post" rows="3" cols="60" ng-model='tC.post.content'></textarea>
  <input type="submit" name="name" value="Post Answer">
</form>

<div class='posts'>
  <ul>
    <div class='post' ng-repeat='post in tC.topic.posts'>
      <hr>
      <li><a href="#">{{post._user.name}}</a>: {{post.content}}</li>
      <ul>
        <div class='comments'>
          <div class='comment' ng-repeat='comment in post.comments'>
            <li><a href="#">{{comment._user.name}}</a>: {{comment.content}}</li>
          </div>
        </div>
      </ul>
      <form ng-submit='tC.createComment(comment, post._id)'>
        <textarea rows="2" cols="50" placeholder="Comment" ng-model='comment.content'></textarea>
        <input type="submit" name="name" value="Add Comment">
      </form>
    </div>
  </ul>
</div>
<hr>
<a href="#/dashboard">Go Back</a>
